<% @products.each do |product| %>
<h1><%= product.name %></h1>
<div>
  <%= truncate product.description %>
  <button class="js-more-info" data-id="<%=product.id%>"name="button">More Info</button>
</div>
<% end %>

