<% @products.each do |product| %>
<h1><%= product.name %></h1>
<div id="more-info-product-<%=product.id%>">
  <%= truncate product.description %></div>
  <button class="js-more-info" data-id="<%=product.id%>"name="button">More Info</button>

<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more-info").on('click', function() {
      let id = $(this).data("id");
        $.get("/products/" + id + "/description", function(data) {
          $.get("/products" + id + "/inventory", function(inventory) {
            let inventoryText = "Available"
            if (inventory === "false") {
              inventoryText = "Sold Out"
            }
            let description = "<p>" + data + "<br>" + inventoryText = "</p>"
          })
        $("#more-info-product-" + id).html(description);
      });
    });
  });

</script>
