<% @products.each do |product| %>
<h1><%= product.name %></h1>
<div id="more-info-product-<%=product.id%>">
  <%= truncate product.description %>
  <button class="js-more-info" data-id="<%=product.id%>"name="button">More Info</button>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $(".js-more-info").in('click', function() {
      let id = $(this).data("id");
      // $.get("/products" + id + "/inventory", function(data) {
      //   if (data === true) {
      //     let inventory = "Available"
      //     $("#more-info-product" + id).text(inventory)
      //   } else {
      //     let inventory = "Sold Out"
      //     $("#more-info-product" + id).text(inventory)
      //   }
        $.get("/products" + id + "/description", function(data) {
        $("#more-info-product" + id).text(data)
      })
    })
  })

</script>
